*{
    padding: 0%;
    margin: 0%;
}

nav{
    display: flex;
    flex-direction:row;
background-color: rgb(39, 35, 35);
color:white;
justify-content:space-evenly;
font-size:x-large;
width:100vw;
height:3rem;
position:fixed;
font-family: Arial, Helvetica, sans-serif;
list-style-type:none;
}
.search_icon{
   padding-top: 0.8rem; 
}
li{
    padding:0.7rem;
    cursor:pointer;
    color:white;
    font-family: 'Hubballi', cursive;
    font-size: small;
}
h1{
    text-align: center;
}
.ip13pro{
    padding-top:4rem ;
    text-align: center;
    margin-bottom: 4rem;
    margin-bottom: 1rem;
   
    

}
.oh{
    font-family:'Courier New', Courier, monospace;
}
.one{
    margin:1rem;
    text-decoration: none;
    justify-content:space-evenly;
    
}
a:link{text-decoration: none;
   
}
a:hover{
    text-decoration: underline;
}
.ip13p{
    margin-left:20rem;
}

.material-icons{
    padding: 1rem;
}
.ip13{
    /* margin-top: 0.8rem; */
    color:rgb(225, 69, 225);
    text-align: center;
    position: relative;
}
.i13{
    margin-top: 3rem;
    position: relative;
}
.wa{
    text-align: center;
}
.s7{
    padding:2rem;
    margin-left: 50px;
    justify-content: center;
}
.i13g{
    justify-content: center;
    margin-left:20rem;
}
.e13{
background-color:rgb(250, 249, 249);
text-align: center;
}
.watch{
    background-color:whitesmoke;
    margin-top: 8px;
}
.airpods{
    background-color: rgb(250, 250, 250);
    margin-top: 8px;
}
.s{
    color: red;
}
.air{
text-align: center;
}
.apple_tv
{
   margin-right: 2px;
     margin-top:8px ;
}
.mac{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.disp{
    justify-content: center;
}
.macbook{
    margin-top:8px;
    background-color:rgb(254, 254, 254);
}
.mstdio{
    text-align: center;
}
.mac_stdio{
    margin-top: 8px;
    background-color: rgb(250, 250, 250);
}
.Mac{
    display: flex;
    justify-content: center;
}
.links{
    display: flex;
    
}
.mstdio{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.comb1{
    display: flex;
    justify-content: center;
}

